[MAIN]
suggestion-mode=yes
load-plugins=pylint.extensions.docparams,pylint.extensions.docstyle,pylint.extensions.broad_try_clause,pylint.extensions.code_style

[MESSAGES CONTROL]
disable = duplicate-code, import-error, missing-docstring, multiple-imports, trailing-newlines

[FORMAT]
max-line-length = 150